/*
!.scripts/
!.gitignore

!makefile
!README.md

#i3
!i3

#emacs
!emacs/
emacs/elpa/
emacs/auto-save-list/
emacs/tutorial/
emacs/eshell/
emacs/.lsp-session-v1
emacs/transient/

# kitty
!kitty/
!kitty/*
kitty/init/
kitty/env/
